@use '../../../../styles/variables';

.column {
  background-color: variables.$bg-color;

  .title {
    padding: 10px;
    text-align: left;
  }

  .emptyState{
    color: variables.$light-text-color;
    display: block;
    padding: 10px;
  }
}
